:root {
  --backgColor: #e9e9e9;
  --selectionBackgColor: rgb(122, 122, 122);
  --selectionColor: rgb(34, 34, 34);
  --fontColor: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgColor: #121212;
    --selectionBackgColor: rgb(122, 122, 122);
    --selectionColor: rgb(34, 34, 34);
    --fontColor: #e9e9e9;
  }
}

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  #social-links {
    width: 120px ;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  #social-links {
    width: 320px ;
  }
}

@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #social-links {
    width: 480px ;
  }
}

/*@viewport {
  width: device-width ;
  zoom: 1.0 ;
} */

html {
  background-color: var(--backgColor);
  color: var(--fontColor);
  font-family: monospace;
  font-size: 5vmin;
}

body {
  margin: 0 auto;
}

::selection {
  color: var(--selectionColor);
  background: var(--selectionBackgColor);
}

.flex-container{
  display: flex;
  flex-flow: column nowrap; 
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  border: 1px solid green;
}

#social-links{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
  border: 1px solid red;
}

#social-links img {
  /*max-width: 100%;*/
  display: block;
}

#social-links img:hover { 
  opacity: .8;
}

#pgp-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 10vh;
}

#pgp-key {
  white-space: pre-line; /*collapse sequences of whitespace*/
  font-size: 2vmin;
}
