:root {
  --backgColor: #e9e9e9;
  --selectionBackgColor: rgb(122, 122, 122);
  --selectionColor: rgb(34, 34, 34);
  --fontColor: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgColor: #121212;
    --selectionBackgColor: rgb(122, 122, 122);
    --selectionColor: rgb(34, 34, 34);
    --fontColor: #e9e9e9;
  }
}

html, body {
  height: 100%;
  margin: 0;
  font-family: monospace;
  font-size: 16px;
  background-color: var(--backgColor);
  color: var(--fontColor);
  overflow: hidden;
}

::selection {
  color: var(--selectionColor);
  background: var(--selectionBackgColor);
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

#headshot {
  height: auto;
  width: 50vw;
  max-width: 200px;
}

#intro-block, #links-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro {
  font-size: 2rem;
}

#intro-subtext {
  font-size: 1rem;
  max-width: 80vw;
}

#links-text {
  font-size: 1.5rem;
}

#social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#social-links img {
  display: block;
  max-width: 12vw;
  opacity: .8;
}

#social-links img:hover {
  opacity: 1.0;
}
